# Make a copy of this file as ".env."
# Replace the placeholders below with your Discord
# credentials and the external (non-Docker container)
# path to where the database should be stored.
#
# The final document should _not_ have the squiggly brackets.
#
#
DISCORD_TOKEN = {your_Discord_developer_token}
DISCORD_SERVER = {your_Discord_server_name_in_quotes}
DISCORD_DEV_CHANNEL_ID = {your_Discord_developer_channel_id_number}
PATH_TO_DB = {your_external_database_path}
#
# For example,
# PATH_TO_DB = "../data/weight-data.db"
